*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
}

body{
    background-image: url('https://wallpapercat.com/w/full/8/c/f/124601-3840x2160-desktop-4k-stranger-things-wallpaper-image.jpg');
    background-size: cover;
}

.navbar {
    background-color: black;
    padding: 1rem;
}

.nav-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    height: 50px;
    width: 100%;
}

.nav-list li {
    color: white;
    font-weight: bold;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
}

.nav-list li img {
    height: 40px;
    width: 40px;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    color: white;
    height: 30rem;
    margin: 0 auto;
    margin-top: 4rem;
    width: 80%;
    border-radius: 25px;
    border-style: groove;
    border-color: transparent;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 5px 0px black;
}

.main-container:hover {
    box-shadow: 0px 0px 10px 0px black;
}

.main-container .intro-text {
    display: flex;
    max-width: 600px;
    margin-right: 4rem;
    align-items: center;
    justify-content: center;
}

main .card-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

img {
    height: 250px;
    width: 200px;
}



